# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env
.venv/
*.env
*.envrc

# Ignore package files
Pipfile
Pipfile.lock
poetry.lock

# Ignore IDE & editor files
.vscode/
.idea/
*.swp

# Ignore Docker artifacts
.dockerignore
Dockerfile

# Ignore logs and temp files
logs/
*.log
tmp/
celery*
